<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708006433503-qblsovelhs3va5kob35636lb6c8g7q6d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708006433503-qblsovelhs3va5kob35636lb6c8g7q6d</string>
	<key>API_KEY</key>
	<string>AIzaSyAE6hziYOTw8DUfS1Y04WL-8A18NDUcZ_U</string>
	<key>GCM_SENDER_ID</key>
	<string>708006433503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rebersincar.pubgwallpapers</string>
	<key>PROJECT_ID</key>
	<string>pubg-wallpapers-509e2</string>
	<key>STORAGE_BUCKET</key>
	<string>pubg-wallpapers-509e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708006433503:ios:ab2ca7b3f4fa5e95150f6a</string>
	<key>DATABASE_URL</key>
	<string>https://pubg-wallpapers-509e2.firebaseio.com</string>
</dict>
</plist>